body{
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(to right, #ff9a9e, #fad0c4);
margin:0;
}

/* NAV */
nav{
background:#ff66b2;
padding:15px;
text-align:center;
}

nav a{
margin:15px;
color:white;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
background:white;
color:#ff1493;
padding:5px;
border-radius:5px;
}

/* SECTION */
.section{
background:white;
padding:25px;
margin:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* 2 columns */
.row{
display:flex;
flex-wrap:wrap;
gap:20px;
}

.column{
flex:1;
min-width:250px;
}

/* GALLERY */
.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
width:200px;
background:white;
padding:10px;
border-radius:10px;
text-align:center;
}

/* VIDEOS */
.videos{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

/* TABLE */
table{
width:90%;
margin:auto;
border-collapse:collapse;
}

table,th,td{
border:1px solid #ff1493;
padding:10px;
text-align:center;
}

/* FOOTER */
footer{
background:#ff1493;
color:white;
text-align:center;
padding:15px;
}
